<div style="text-align: center">
  {{title}}

</div>
<div>
  <h2>Bar Chart </h2>
    <canvas id="barChart" width="300" height="123" class="chartjs-render-monitor" style="display: block;"></canvas>

</div>
